<div class="header">
    <div class="title-logo">
        <img src="../assets/img/logo.png" alt="logo cat" class="logo">
        <h1>KITTEN STORY</h1>
    </div>

    <div class="navbar">
        <a [routerLink]="['/create']" class="button">
            <img src="../assets/img/patoune.png" alt="patoune!" class="patoune">
            <p>Add your kitten</p>
        </a>
        <a [routerLink]="['/']" class="button">
            <img src="../assets/img/patoune.png" alt="patoune!" class="patoune">
            <p>Adopt our kittens</p>
        </a>
        <a [routerLink]="['/contact-us']" class="button">
            <img src="../assets/img/patoune.png" alt="patoune!" class="patoune">
            <p>Who I am</p>
        </a>
    </div>
</div>
