<div class="user-container">
    <h2>MY KITTEN</h2>

    <div *ngIf="favoriteKittenList!== undefined" class="favorite-container">
        <div *ngIf="favoriteKittenList.length > 0; else noFavoriteKitten">
            <div *ngFor="let kittenFavorite of favoriteKittenList" class="card">
                <img src="{{kittenFavorite.picture}}" class="card-img-top" alt="little kitten 1">
                <div class="card-body">
                    <h5 class="card-title">{{kittenFavorite.name}}</h5>
                    <p class="card-text">{{kittenFavorite.race}}</p>
                    <p class="card-text">{{kittenFavorite.birthday}}</p>
                </div>
            </div>
        </div>
    </div>

    <ng-template #noFavoriteKitten>
        <p class="text-center">There are no favorite kitten (for now).</p> 
    </ng-template>
</div>