.list-kitten-container{
    padding-top : 3rem;
    margin-bottom: 2rem;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    margin : auto;
}

.card{
    width: 20%;
    margin : 1% 2%;
    box-shadow: 3px 3px 3px rgb(87, 87, 87);;
}